.header {
    border: 3px double black;
    background-color: aliceblue;
    margin: 20px auto;
    width: 1500px;
    text-align: center;
    font-size: 80px;
}

.container {
    border: 3px double black;
    background-color: aliceblue;
    margin: 20px auto;
    width: 800px;
    text-align: center;
}

.one {
    background-color: aliceblue;
    border-radius: 15px 50px 30px;
    box-shadow: 5px 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: 50px;
}

.one:hover {
    background-color: pink;
}

.containerone {
    background-color: aliceblue;
    display: flex;
    height: 400px;
    padding: 16px;
    border: 4px solid black;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.containerthree {
    background-color: aliceblue;
    display: flex;
    height: 250px;
    padding: 16px;
    border: 4px solid black;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 10px; 
}

.containerfour {
    background-color: aliceblue;
    display: block;
    width: 500px;
}

.headerone {
    border: 4px solid black;
    text-align: center;
    margin-bottom: 70px;
}

.headertwo {
    text-align: center;
}

.para {
    text-align: justify;
    margin-bottom: 70px;
}

.home {
    text-align: center;
}

